<div class="plan-container">
  <ul>
    <% @plans.each do |plan| %>
      <li class="plan">
        <div class="header">
          <%= plan[:name] %>
        </div>
        <div class="price">
          <%= (plan[:amount]/100) %>
        </div>
        <%= form_tag('/subscription_checkout', {method: :post, plan: plan}) do %>
          <input name="plan_id" type="hidden" value="<%= plan[:id] %>">
          <script class="stripe-button" data-amount="<%= (plan[:amount]) %>" data-currency="<%= plan[:currency] %>" data-email="customer@example.com" data-image="/assets/sitepoint.png" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" src="https://checkout.stripe.com/checkout.js"></script>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>