

<div class="container mt-3">
  <!-----------------------------slideshow carousel---------------------------->
  <div id="demo<%= @restaurant.id %>" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      
        <% @restaurant.images.each_with_index do |image, index| %>              
          <% if @restaurant.images.attached? %>             
            <div class="carousel-item <%= "active" if index == 0 %>">   
              <%= image_tag(url_for(image), style: "width:100%; height:600px" ) %>
            </div>
          <% end %>  
        <% end %>
      
        <% @restaurant.clips.each_with_index do |clip, index| %>               
            <% if @restaurant.clips.attached? %>  
              <div class="carousel-item <%= "active" if index == 0 && @restaurant.images.blank? %>">
                <%= video_tag(url_for(clip), style:"width:100%; height:600px", controls: '') %>
              </div>
            <% end %>           
        <% end %> 
      
    </div>      
    <button class="carousel-control-prev" type="button" data-bs-target="#demo<%= @restaurant.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo<%= @restaurant.id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>   
    </button>
  </div>

  <!--------------------------------------restaurant detail----------------------------------------------->               
  <h3 class="fw-bolder mt-3"><%= @restaurant.name %></h2 >

  <div id="map"></div>
  <p class="text-muted"><%= @restaurant.full_address %></p>

  <div class="fst-italic" ><%= @restaurant.email %></div><br/>

    <span>categories:
    <% @restaurant.categories.each do |category| %>             
         <%= category.name %>         
    <% end %>  
    <span>
  <hr/>
  
  <!-----------------------------------map-------------------------------->
    <div class="col-12">
      <%= link_to google_map_restaurants_path do %>
       <%= image_tag ("icons8-google-maps-old.svg"), width: "30px", height: "30px" %>
       <% end %>
         &#160;&#160;

  <!--------------------------------Review button------------------------->  
      <div class="btn btn-danger">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>                 
        <%= link_to "Add Review", new_restaurant_review_path(@restaurant),class: "review", data: { "bs-target": "#exampleModal", "bs-toggle": "modal", "bs-whatever": "@getbootstrap" } %>
      </div>   
      <br/>
      <br/>
    </div>
      
  <!------------------------------------Review--------------------------------------->
  
  <button id="review" class="mb-3 btn btn-danger" >Reviews</button>
     
  <div id="clicked">
    <div class="p">
      <%= render 'reviews/review' %>
    </div>  
  </div>

    <!------------------------------ Modal for reviews form ------------------------------------------------>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Submit your Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
             <%= render 'reviews/form' %>   
        </div>
      </div>
    </div>

    <!-----------------------------------Restaurant Menu---------------------------------------->
      
    <%= link_to "Menu", restaurant_menus_path(@restaurant), class: "btn btn-outline-info btn-lg mb-3" %> 

    <div class="rounded">
      <%= link_to restaurant_menu_path(@restaurant.menus.ids), data: { "bs-target": "#staticBackdrop", "bs-toggle": "modal" } do %>
        <%= image_tag ("brooke-lark-V4MBq8kue3U-unsplash.jpg"), class: "rounded", width: "300px", height: "300px" %>
      <% end %>  
    </div>

    <!-----------------------------Restaurant Menu By dropdown-------------------------------------->

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Restaurant Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <%= render 'menus/show' %> 
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>


     


